:root {
    --about-me-bg-color: #f2cc8f;
}

#aboutMe {
    width: 100%;
    padding-left: 2.1%;
    padding-right: 2.2%;
    height: auto;
    margin: 0;
    margin-top: 2%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: var(--about-me-bg-color);
}

#aboutMe>h2 {
    width: 96%;
    border-bottom: solid 1px var(--general-text-color);
    text-align: center;
}

#aboutMe>p {
    width: 90%;
    height: auto;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

    font-size: 1.2em;
}

@media screen and (max-width: 800px) {
    #aboutMe>p {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {

    #aboutMe>h2 {
        font-size: x-large;
    }
}